<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup> 
	<connectionStrings>
		<add name="FbConString" connectionString="User=sysdba;Password=masterkey;Database=hodb;DataSource=PGC-Encashment;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=100;Pooling=false;Packet Size=8192;" providerName="FirebirdSql.Data.FirebirdClient" />
		<!--<add name="FbConString" connectionString="User=sysdba;Password=masterkey;Database=D:\Databases\Newfolderr\PGCDB.FDB;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=100;Pooling=false;Packet Size=8192;" providerName="FirebirdSql.Data.FirebirdClient" />-->
	</connectionStrings>
</configuration>